.nav{

}

.nav__container{

}

.nav__section{
	&--flush-padding{
		padding: 0;
	}
	&--flush-margin{
		margin: 0;
	}
	@for $i from 1 through 10{
		&--w-#{$i * 10} {
			width: $i * 10%;
		}
	}
}

.brand{

}

.brand__logo{

}

.brand__content{

}

.menu{

}

.menu__list{

}

.menu__item{

}

.block{

}

.block__container{

}

.block__section{
	&--flush-padding{
		padding: 0;
	}
	&--flush-margin{
		margin: 0;
	}
	@for $i from 1 through 10{
		&--w-#{$i * 10} {
			width: $i * 10%;
		}
	}

}

