.section{
	&--flush-padding{
		padding: 0;
	}
	&--flush-margin{
		margin: 0;
	}
	@for $i from 1 through 10{
		&--width-#{$i * 10} {
			width: $i * 10%;
		}
	}
	&--left{
		float: left;
	}
	&--right{
		float: right;
	}
	&:before, &:after{
		content: '';
		display: block;
		clear: both;
	}

}
.wrapper{
	&--flush-padding{
		padding: 0;
	}
	&--flush-margin{
		margin: 0;
	}
	@for $i from 1 through 5{
		&--padding-#{$i * 5} {
			padding: $i * 5px;
		}
		&--margin-#{$i * 5} {
			margin: $i * 5px;
		}
	}
}

.content{
	&--inline{
		display: inline-block;
	}
	&--stacked{
		display: block;
	}
}
.nav{

}

.brand{

}

.brand__logo{

}

.brand__content{

}

.menu{

}

.menu__list{

}

.menu__item{

}

.block{

}


.sidebar{

}

.footer{

}




