.jumbo{
	@extend .block--fixed-center;
}

.listing-card{
	@extend .section--width-5, .section--right;
	text-align: center;
	&__inner{
		@extend .wrapper, .wrapper--padding-15, .wrapper--margin-10;
		background: #2eec71;
		border-radius: 4px;
		box-shadow: 4px 7px 31px 5px rgba(45, 239, 113, 0.6);
		color: #fff;
	}
}